body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

:root {
    --xs-space: 0.2rem;
    --sm-space: 0.5rem;
    --md-space: 1rem;
    --lg-space: 1.5rem;
    --xl-space: 2rem;
    --xxl-space: 2.5rem;
    --xxxl-space: 3rem;
    
    --sideBar-shadow: rgb(0 0 0 / 24%) 0px 4px 9px;
    --text-color: hsl(207, 7%, 31%);
    --card-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
    --banner-bg-color: hsla(0,0%,100%,0.301);
}