.navbar {
    padding: var(--md-space);
    height: 4.5rem;
}

.burger-menu-button {
    display: none;
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--primary-color);
    border: none;
    width: 2rem;
    background-color: var(--bg-color);
}

/* nav-logo */
.nav-logo-title {
    font-size: 1.5rem;
}

.custom-color {
    color: var(--nav-logo-custom-color);
}

.nav-logo-tagline {
    display: block;
}

/* search-bar */
.nav-search-bar {
    width: 30rem;
    display: flex;
    flex-shrink: 50%;
    align-items: center;
    position: relative;
}

.nav-search-bar button {
    position: absolute;
    right: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--black);
}

.search-btn {
    min-width: 10px;
}

.right-navbar .navlist-link-item {
    display: block;
}

.link-btn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: var(--primary-color);
}

.outline-btn {
    border: 2px solid transparent;
    background-color: var(--bg-color);
    padding: var(--sm-space) 0.75rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease 0s;
    box-shadow: var(--card-shadow);

}

.anchor-tag-badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: var(--xs-space);
    padding: var(--xs-space);
}

/* Nav Aside */
.nav-aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100rem;
    width: 30%;
    z-index: 10;
    transition: 0.3s ease-in;
    background-color: var(--background-color);
    box-shadow: var(--card-hover-shadow);
}

.nav-aside-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    z-index: 9;
    transition: 0.3s ease-in all;
}

.nav-aside-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: var(--sm-space);
    gap: var(--sm-space);
    padding: 5rem;
    margin-left: 0;
    margin-top: 0;
}

.nav-aside-list li {
    width: 100%;
    text-align: center;
}

.nav-aside-link {
    text-decoration: none;
    width: 100%;
    color: var(--text-color);
}

.nav-aside-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 8px;
    margin-right: 1px;
}

.nav-aside-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-color);
    padding: var(--sm-space);
}

.show-nav-aside {
    left: 0;
}

.show-nav-background {
    display: block;
}

.mobile-search-bar {
    display: none;
    width: 100%;
}

/* media-queries */
@media only screen and (max-width: 1000px) {
    .navbar{
        padding: 0;
    }
    .burger-menu-button {
        display: block;
    }

    .nav-logo-title {
        padding-top: 10px;
        font-size: 2rem;
    }

    .nav-logo-tagline {
        display: none;
    }

    .nav-search-bar {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

}

@media only screen and (max-width: 600px) {
    .right-navbar .navlist-link-item {
        display: none;
    }

}

@media only screen and (min-width: 1000px) {
    .nav-aside {
        left: -100rem;
    }

    .nav-aside-background {
        display: none;
    }
}

@media only screen and (max-width: 525px) {
    .nav-aside {
        width: 70%;
    }
}